* {
    outline: none !important;
    font-family: 'Roboto', sans-serif !important;
}

html,
body {
    font-family: 'Roboto', tahoma, sans-serif;
    background-color: $fanapGreyLight;
}

.fanex-text-red {
    color: $fanapRed !important;
}
.fanex-text-green {
    color: $fanapGreen !important;
}
.fanex-text-orange {
    color: $fanapOrange !important;
}

@include mq($max-width: $breakePoint_sm) {
    h1 {
        font-size: 28px;
        margin-top: 10px;
        margin-bottom: 5px;
    }
    h2 {
        font-size: 24px;
        margin-top: 8px;
        margin-bottom: 4px;
    }
}

.navbar-default {
    background-color: transparent;
    border: none;
    .navbar-brand:hover, .navbar-brand:focus {
        color: $fanapOrange;
    }
    .navbar-brand {
        font-size: 42px;
        color: $fanapGrey;
        font-weight: 500;
        padding-left: 0;
        @include mq($max-width: $breakePoint_sm) {
            //padding-left: 15px;
        }
        @include transition(all .3s);
        @include mq($max-width: $breakePoint_xl) {
            color: #fff;
            &:hover, &:focus {
                color: #fff;
                opacity: 0.6;
            }
        }
    }
}

.navbar-header {
    margin-left: 0 !important;
}

@include mq($max-width: $breakePoint_md) {
    .navbar-nav > li, .navbar-nav {
        float: left !important;
    }
    .navbar-nav.navbar-right:last-child {
        margin-right: 0 !important;
    }
    .navbar-right {
        float: right !important;
    }
    .navbar-header {
        float: left;
    }
}

.navbar {
    z-index: 1000;
    padding: 30px 100px;
    margin: 0;
    @include border-radius(0);
    @include mq($max-width: $breakePoint_xxl) {
        padding: 30px 50px;
    }
    @include mq($max-width: $breakePoint_sm) {
        padding: 20px 15px;
    }
    .navbar-nav {
        li.nav-item {
            a.nav-link {
                color: #ffffff;
                padding-left: 3rem;
                padding-right: 0;
                @include transition(all .3s);
                &:hover, &:active, &:focus {
                    text-decoration: none;
                    opacity: 0.6;
                }
            }
        }
    }
}

.dark-header {
    background: transparent;
    background-color: transparent;
    .navbar-nav {
        li.nav-item {
            a.nav-link {
                color: $fanapDark;
                &:hover, &:active, &:focus {
                    color: $fanapOrange;
                }
            }
        }
    }
}

.dashboard-nav {
    background: $fanapOrange url("images/pattern.png");
    -webkit-background-size: 50%;
    background-size: 50%;
    z-index: 4000;
    .navbar-brand {
        color: #fff;
        &:hover {
            color: darken($fanapOrange, 20%);
        }
    }
    ul li.nav-item a.nav-link:hover {
        color: darken($fanapOrange, 30%);
    }
}

.additional-wrapper {
    min-height: 77vh;
    padding: 160px 100px 30px;
    background: $fanapGreyLight url("images/pattern.png");
    background-size: 40%;
    margin: auto;
    @include mq($max-width: $breakePoint_xxl) {
        padding: 130px 50px 30px;
    }
    @include mq($max-width: $breakePoint_sm) {
        padding: 120px 30px 20px;
    }
    .white-div {
        padding: 50px 40px;
        background-color: #fff;
        margin: auto;
    }
}

.dashboard-wrapper {
    min-height: 95vh;
    padding: 160px 100px 30px;
    @include mq($max-width: $breakePoint_xxl) {
        padding: 130px 50px 30px;
    }
    @include mq($max-width: $breakePoint_sm) {
        padding: 120px 30px 20px;
    }
    .dash-title {
        font-weight: 200;
        color: $fanapDark;
        padding-bottom: 5px;
        b {
            font-weight: 400;
        }
    }
    .dash-subtitle {
        color: $fanapOrange;
        font-size: 24px;
        font-weight: 500;
        padding-bottom: 30px;
        padding-top: 15px;
    }
}

.bgWrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    min-height: 200px;
    margin: auto;
    background-color: $fanapOrange;
    z-index: 0;
    .bgDiv {
        height: 100vh;
    }
    .bgDivLeft {
        background: $fanapGreyLight url("images/pattern.png");
        @include mq($max-width: $breakePoint_xl) {
            background: $fanapOrange url("images/pattern.png");
        }
        -webkit-background-size: 40%;
        background-size: 40%;
    }
}

.indexWrapper {
    @include mq($max-width: $breakePoint_sm) {
        margin: 0;
        padding: 0 !important;
        width: 100%;
    }
    .indexWrapperInside {
        height: calc(100vh - 210px);
        min-height: 600px;
        position: relative;
        @include mq($max-width: $breakePoint_xl) {
            height: auto;
            position: relative;
        }
    }
    .indexLeft {
        z-index: 200;
        .mainForm {
            @include absolut-center();
            background-color: #fff;
            padding: 50px;
            width: 100%;
            margin: auto -70px auto 100px;
            @include mq($max-width: $breakePoint_xxl) {
                margin: auto -40px auto 50px;
            }
            @include mq($max-width: $breakePoint_xl) {
                margin: 50px auto;
                width: calc(100% - 100px);
                position: static;
                top: 0;
                left: 0;
                transform: translate(0, 0);
            }
            @include mq($max-width: $breakePoint_sm) {
                margin: 0 auto;
                width: 100%;
                padding: 50px 30px;
            }
            z-index: 300;
            h1 {
                color: $fanapDark;
                font-size: 32px;
                font-weight: normal;
                @include mq($max-width: $breakePoint_md) {
                    font-size: 24px;
                    @include text-overflow();
                }
            }
            .tempAmount {
                text-align: center;
                h2 {
                    color: $fanapGrey;
                    font-size: 18px;
                    font-weight: 300;
                    text-align: left;
                    line-height: 1.5em !important;
                    @include mq($max-width: $breakePoint_md) {
                        font-size: 16px;
                    }
                    #tempAmountCash {
                        font-weight: 500 !important;
                        color: $fanapOrange;
                    }
                    #tempAmountCountry {
                        @extend #tempAmountCash;
                        color: $fanapDark;
                    }
                }
                .tempAmountWrapper {
                    padding: 10px 0 20px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
                .calcAmount {
                    font-size: 52px;
                    font-weight: 600;
                    color: $fanapOrange;
                    @include mq($max-width: $breakePoint_md) {
                        font-size: 36px;
                    }
                    @include mq($max-width: $breakePoint_sm) {
                        font-size: 28px;
                    }
                }
                .tempCurrency {
                    color: $fanapGrey;
                }
            }
        }
    }
    .indexRight {
        z-index: 50;
        @include mq($max-width: $breakePoint_md) {
            min-height: 400px;
        }
        @include mq($max-width: $breakePoint_sm) {
            min-height: 400px;
        }
        #mapWrapper {
            @include absolut-center();
            height: 593px;
            width: 90%;
            margin: auto;
            .amcharts-export-menu {
                display: none !important;
            }
            a[href = "http://www.amcharts.com/javascript-maps/" ] {
                display: none !important;
            }
        }
        .mottoWrapper {
            @include absolut-center();
            text-align: center;
            color: #fff;
            .fanexLogoName {
                font-weight: 100;
                font-size: 120px;
                @include mq($max-width: $breakePoint_xxl) {
                    font-size: 90px;
                }
            }
            .fanexMotto {
                margin-top: -40px;
                @include mq($max-width: $breakePoint_xxl) {
                    margin-top: -20px;
                }
            }
        }
        .addressWrapper {
            @extend .mottoWrapper;
            @include absolut-center(75%, 50%);
            h4 {
                font-weight: 300;
                font-size: 18px;
                line-height: 1.6em;
            }
            p {
                font-size: 18px;
                font-weight: 200;
                i {
                    vertical-align: middle;
                    padding: 0 10px 0 0;
                }
            }
        }
        .staticHeader {
            @include absolut-center();
            text-align: center;
            width: 70%;
            color: #fff;
            @include mq($max-width: $breakePoint_xl) {
                position: static;
                top: 0;
                left: 0;
                transform: translate(0, 0);
                margin: auto;
                width: 90%;
            }
            .fanexLogoName {
                font-weight: 100;
                font-size: 72px;
                @include mq($max-width: $breakePoint_xxl) {
                    font-size: 60px;
                }
                @include mq($max-width: $breakePoint_xl) {
                    margin-top: 30px;
                }
            }
            .fanexMotto {
                padding: 10px 30px;
                margin-top: 0px;
                overflow-y: scroll;
                max-height: 400px;
                margin-bottom: 50px;
                @include mq($max-width: $breakePoint_xl) {
                    max-height: 2000px;
                }
            }
        }
    }
}

.bootstrap-select .dropdown-toggle:focus {
    outline: none !important;
    box-shadow: none !important;
}

.bsWrapper {
    position: relative;
}

.bsIcon {
    font-size: 24px;
    color: $fanapGreyDark;
    position: absolute;
    z-index: 100;
    margin: 16px 0 0 15px;
}

.fanexInput {
    color: $fanapGrey;
    background-color: $fanapGreyUltraLight;
    height: 60px;
    line-height: 60px;
    padding: 0px 50px;
    border: none;
    border-radius: 0 !important;
    @include box-shadow(none !important);
    @include transition(all .3s);
    &:hover {
        color: $fanapDark;
        background-color: $fanapGreyLight;
    }
    &:active, &:focus {
        color: $fanapDark;
        background-color: $fanapGreyLight;
        @include box-shadow(inset 0 0 10px rgba(0, 0, 0, 0.05) !important);
    }
    img {
        margin-top: 5px;
    }
}

.fanexInputWhite {
    @extend .fanexInput;
    background-color: #fff;
    &:hover, &:active, &:focus {
        color: $fanapDark;
        background-color: #fff;
        @include box-shadow(0 0 7px rgba(0, 0, 0, 0.2) !important);
    }
}

.panel-body .bsWrapper {
    margin: 0;
}

.fanexInputPanel {
    @extend .fanexInput;
    color: $fanapDark;
    border: solid 1px $fanapGreyLight;
    background-color: #fff;
    &:hover, &:active, &:focus {
        background-color: #fff;
    }
}

textarea.fanexInput {
    width: 100%;
    resize: none;
    min-height: 150px;
    padding: 15px 20px;
}

.dropdown-menu {
    margin: 0;
    border-top: 0;
    padding: 0;
    max-height: 500px !important;
    border: solid 1px darken($fanapGreyLight, 5%);
    @include border-radius(0);
    @include box-shadow(none !important);
    .inner {
        border: solid 1px darken($fanapGreyLight, 5%);
        overflow: hidden !important;
    }
    .divider {
        margin: 0;
    }
    li.dropdown-header {
        padding: 10px 20px !important;
        span.text {
            font-size: 18px;
            color: $fanapGreyDark;
            font-weight: 400;
        }
    }

    li a {
        color: $fanapDark;
        padding: 15px 30px;
        span.text {
            font-weight: 300;
            font-size: 18px;
            color: $fanapDark;
        }

        &[aria-disabled="true"] span.text {
            color: $fanapGreyDark !important;
        }

        &:hover, &:active, &:focus {
            background-color: $fanapGreyUltraLight;
        }
    }
}

.indexSelectBox .dropdown-menu {
    max-height: 240px !important;
}

.dropdown-toggle::after {
    margin-left: -.5rem !important;
}

.captchaRefresher i {
    @include transition(all .3s);
}

.captchaRefresher:hover i {
    color: $fanapOrange;
}

a.btn {
    line-height: 46px;
}

.fanexBtn {
    height: 60px;
    font-weight: 200;
    font-size: 24px;
    text-align: center;
    width: 100%;
    outline: none;
    cursor: pointer;
    @include box-shadow(none !important);
    @include border-radius(0);
    @include transition(all .3s);
}

.fanexBtn.hasIcon {
    line-height: 52px !important;
}

.fanexBtnOutline {
    @extend .fanexBtn;
    background-color: transparent;
    color: $fanapGrey;
    border: solid 1px $fanapGreyLight;
    &:hover, &:focus, &:active {
        border-color: $fanapOrange;
        background-color: $fanapOrange;
        color: #fff;
    }
}

.fanexBtnGrey {
    @extend .fanexBtn;
    background-color: $fanapGreyLight;
    &:hover, &:focus, &:active {
        background-color: darken($fanapGreyLight, 10%);
        color: #fff;
    }
}

.fanexBtnOutlineGrey {
    @extend .fanexBtnOutline;
    border-color: $fanapGreyDark;
}

.fanexBtnOrange {
    @extend .fanexBtn;
    background-color: $fanapOrange;
    color: #fff !important;
    &:hover, &:focus, &:active {
        background-color: darken($fanapOrange, 10%);
        color: #fff;
    }
}

.fanexBtnOutlineOrange {
    @extend .fanexBtnOutline;
    border-color: $fanapOrange;
    color: $fanapOrange;
}

.fanexFooter {
    ul {
        padding: 0;
        margin-bottom: 0;
        li {
            list-style: none;
            float: left;
            a {
                text-decoration: none;
                i {
                    vertical-align: middle;
                }
            }
            @include mq($max-width: $breakePoint_md) {
                float: none;
                margin-bottom: 8px;
            }
        }
        li.hasIcon {
            margin-top: -5px;
        }
    }
    .footerLeft {
        padding-top: 3px;
        float: left;
        @include mq($max-width: $breakePoint_md) {
            margin-top: -4px;
        }
        li {
            a {
                padding-left: 0;
                padding-right: 25px;
                color: $fanapDark;
                @include transition(all .3s);
                &:hover {
                    opacity: 0.6;
                }
            }
            @include mq($max-width: $breakePoint_xl) {
                a {
                    color: #fff;
                    &:hover {
                        opacity: 0.6;
                    }
                }
            }
        }
    }
    .footerRight {
        float: right;
        li {
            float: right;
            a {
                color: #ffffff;
                font-size: 28px;
                padding-top: 0;
                padding-bottom: 0;
                padding-right: 0;
                padding-left: 25px;
                @include transition(all .3s);
                &:hover {
                    opacity: 0.6;
                }
            }
        }

        li.copyright {
            line-height: 28px;
        }

        @include mq($max-width: $breakePoint_md) {
            li.copyright {
                display: none;
            }
            li.hasIcon {
                margin-top: 0;
                float: none;
                text-align: right;
                margin: 0;
                a {
                    font-size: 18px;
                    padding-right: 0;
                }
            }
        }
    }
}

.dashboard-footer {
    padding: 45px 100px 35px;
    margin-top: 30px;
    background-color: $fanapDark !important;
    @include mq($max-width: $breakePoint_xxl) {
        padding: 35px 50px 25px;
    }
    @include mq($max-width: $breakePoint_sm) {
        padding: 25px 15px 20px;
    }
    .footerLeft,
    .footerRight {
        li {
            a {
                color: #fff;
                &:hover {
                    opacity: 1;
                    color: lighten($fanapOrange, 15%);
                }
            }
        }
    }
}

.dark-footer {
    .footerLeft,
    .footerRight {
        li {
            a {
                color: $fanapDark;
                &:hover {
                    opacity: 1;
                    color: $fanapOrange;
                }
            }
        }
    }
}

#mainFormLoader {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: auto;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    top: 0;
    left: 0;
    z-index: 3000;
    .spinner2 {
        @include absolut-center();
    }
    .errors {
        @include absolut-center();
        font-size: 32px;
        font-weight: 600;
        color: $fanapRed;
        text-align: center;
    }
}

/* Sidebar */
.white-card {
    background-color: #fff;
    padding: 40px 40px 20px;
    @include mq($max-width: $breakePoint_sm) {
        padding: 30px 30px 10px;
        .profile-ul {
            .profile-li {
                a {
                    font-size: 18px !important;
                    i {
                        font-size: 24px !important;
                    }
                }
            }
        }
    }
    color: $fanapDark;
    p {
        color: lighten($fanapDark, 20%);
        font-size: 18px;
        font-weight: 300;
    }
    h3 {
        font-size: 48px;
        font-weight: 600;
        color: $fanapOrange;
        text-align: center;
        margin-top: 5px;
    }
    h3.alert {
        color: $fanapRed;
        font-size: 32px;
        font-weight: 500;
        margin-bottom: 0;
    }
    .steps-ul {
        list-style: none;
        padding: 20px 0 0 15px;
        .steps-li {
            color: $fanapGrey;
            position: relative;
            padding: 15px 0 40px 45px;
            border-left: solid 1px $fanapGrey;
            a {
                color: $fanapOrange;
                @include transition(all .3s);
                text-decoration: none;
                &:hover {
                    color: lighten($fanapOrange, 15%);
                }
            }
            .steps-number {
                position: absolute;
                left: -26px;
                top: 0px;
                width: 50px;
                height: 50px;
                @include border-radius(50%);
                background-color: #fff;
                border: solid 1px $fanapGrey;
                text-align: center;
                line-height: 50px;
                font-size: 16px;
                font-weight: 200;
            }
        }
        .steps-li:last-child {
            border: none;
        }
        .steps-li.done {
            border-color: $fanapOrange;
            color: $fanapOrange;
            font-weight: 500;
            .steps-number {
                background-color: $fanapOrange;
                color: #fff;
                border-color: $fanapOrange;
                font-weight: 400;
            }
        }
        .steps-li.active {
            border-color: $fanapOrange;
            color: $fanapOrange;
            font-weight: 500;
            .steps-number {
                background-color: #fff;
                color: $fanapOrange;
                border-color: $fanapOrange;
                font-weight: 400;
            }
        }
    }
    .profile-ul {
        list-style: none;
        padding: 0px;
        .profile-li {
            margin: 0px 0 20px;
            a {
                font-size: 21px;
                font-weight: 200;
                color: $fanapGrey;
                text-decoration: none;
                @include transition(all .3s);
                i {
                    font-size: 30px;
                    vertical-align: middle;
                    padding-right: 13px;
                    padding-top: 6px;
                }
                &:hover {
                    color: $fanapOrange;
                }
            }
        }
        .profile-li.active {
            a {
                color: $fanapOrange;
                font-weight: 400;
            }
        }
    }
}

.filter-ul {
    margin: 35px 0 20px;
    list-style: none;
    padding: 0;
    .filter-li {
        display: inline-block;
        padding: 0 20px;
        height: 40px;
        line-height: 40px;
        background-color: transparent;
        @include border-radius(20px);
        @include transition(all .3s);
        @include mq($max-width: $breakePoint_md) {
            padding: 0 15px;
        }
        a {
            color: $fanapGreyDark;
            text-decoration: none;
            @include transition(all .3s);
            &:hover {
                color: $fanapOrange;
            }
            .mini-title,
            .large-title {
                @include text-overflow();
            }
            .large-title {
                display: none;
                @include mq($max-width: $breakePoint_md) {
                    display: block;
                }
            }
            .mini-title {
                display: block;
                @include mq($max-width: $breakePoint_md) {
                    display: none;
                }
            }
        }
    }
    .filter-li.active {
        color: #fff;
        background-color: $fanapGreyDark;
        &:hover {
            background-color: darken($fanapGreyDark, 15%);
        }
        a {
            color: #fff;
            &:hover {
                color: #ffffff;
            }
        }
    }
}

.filter-ul.filter-right {
    .filter-li {
        float: right;
        background-color: $fanapOrange;
        &:hover {
            background-color: darken($fanapOrange, 15%);
        }
        a {
            color: #fff;
            &:hover {
                color: #fff;
            }
        }
    }
}

.panel {
    border: none;
    @include border-radius(0 !important);
    @include box-shadow(none !important);
}

.panel-group .panel + .panel {
    margin-top: 15px;
}

.panel-default {
    @include border-radius(0);
    .panel-heading {
        position: relative;
        background-color: #fff;
        height: 70px;
        line-height: 70px;
        @include border-radius(0);
        border: none;
        padding: 0 20px;
        @include mq($max-width: $breakePoint_md) {
            padding: 0 10px;
        }
        div {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            text-align: center;
            padding-right: 2px !important;
            padding-left: 2px !important;
        }
        div:first-child {
            text-align: left;
        }
        .acc-main-icon {
            color: $fanapOrange;
            font-size: 28px;
            vertical-align: top;
            padding-right: 10px;
            &:before {
                vertical-align: middle;
            }
            @include mq($max-width: $breakePoint_sm) {
                font-size: 21px;
                padding-right: 5px;
            }
        }
        .acc-user {
            font-weight: 300;
            color: $fanapGreyDark;
            font-size: 14px;
            b {
                font-weight: 400;
                color: $fanapDark;
            }
        }
        .acc-date {
            color: $fanapGreyDark;
        }
        .acc-cash {
            color: $fanapDark;
            font-weight: 500;
            font-size: 14px;
        }
        .acc-status {
            i {
                font-size: 16px;
                padding-right: 5px;
                &:before {
                    vertical-align: middle;
                }
            }
        }
        .acc-status.pending {
            color: $fanapOrange;
        }
        .acc-status.successful {
            color: $fanapGreen;
        }
        .acc-status.failed {
            color: $fanapRed;
        }
        .acc-type {
            i {
                &:before {
                    font-size: 21px;
                    color: $fanapGreyDark;
                    vertical-align: middle;
                }
            }
        }
        .bnf-action-icons {
            text-align: right;
            a {
                text-decoration: none;
                i {
                    color: $fanapGreyDark;
                    font-size: 24px;
                    padding: 0 5px;
                    @include transition(all .3s);
                    &:before {
                        vertical-align: middle !important;
                    }
                }
                &:hover {
                    i {
                        color: $fanapDark;
                    }
                }
            }
        }
    }
    .panel-heading.new::before {
        content: '';
        background-color: $fanapOrange;
        width: 15px;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
    .panel-body {
        @include border-radius(0);
        border-top: solid 1px $fanapGreyUltraLight !important;
        .acc-info-left {
            p {
                color: $fanapGreyDark;
                font-weight: 300;
                @include text-overflow();
            }
        }
        .acc-info-right {
            p {
                color: $fanapDark;
                font-weight: 500;
                @include mq($max-width: $breakePoint_lg) {
                    text-align: right;
                }
                @include text-overflow();
            }
        }
        .acc-factor {
            @include mq($max-width: $breakePoint_lg) {
                margin-top: 40px;
            }
            hr {
                margin: 5px 0;
            }
            .acc-factor-sum {
                color: $fanapOrange;
            }
            p.table-header {
                background-color: #fff;
                padding: 5px 0;
                color: $fanapGreyDark;
                font-weight: 500;
                border-bottom: solid 1px $fanapGreyLight;
                @include mq($max-width: $breakePoint_lg) {
                    background-color: $fanapGreyDark;
                    margin-left: -30px;
                    margin-right: -30px;
                    padding: 5px 30px;
                    color: #fff;
                }
            }
        }
        a.notification-link {
            @include transition(all .3s);
            padding: 5px 0 20px;
            color: $fanapGrey;
            text-decoration: none;
            font-size: 13px;
            &:hover {
                color: $fanapDark;
            }
            i {
                vertical-align: middle;
            }
        }
    }
    .panel-body.new::before {
        content: '';
        background-color: $fanapOrange;
        width: 15px;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
    .panel-body.notification-body {
        padding: 30px 20px;
    }
}

.panel-heading .accordion-toggle:after {
    font-family: 'fanex';
    content: "\43";
    float: right;
    vertical-align: middle;
    font-size: 21px;
    color: $fanapGreyDark !important;
    cursor: pointer;
}

.panel-heading .accordion-toggle.collapsed:after {
    content: "\69";
}

#bnf-sidebar .white-card {
    margin-top: 100px;
    @include mq($max-width: $breakePoint_lg) {
        margin-top: 20px;
    }
}

#profile-sidebar .white-card {
    margin-top: 30px;
    @include mq($max-width: $breakePoint_lg) {
        margin-top: 20px;
    }
}

// Spinner 1
.spinner {
    width: 40px;
    height: 40px;
    position: relative;
    margin: auto;
}

.double-bounce1, .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: $fanapOrange;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
    0%, 100% {
        -webkit-transform: scale(0.0)
    }
    50% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes sk-bounce {
    0%, 100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    }
    50% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}

// Spinner 2
.spinner2 {
    margin: auto;
    width: 70px;
    text-align: center;
}

.spinner2 > div {
    width: 18px;
    height: 18px;
    background-color: $fanapOrange;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner2 .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.spinner2 .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0)
    }
    40% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}