* {
    outline: none !important;
    font-family: 'Roboto', sans-serif !important;
}

html,
body {
    font-family: 'Roboto', tahoma, sans-serif;
}

.navbar-default {
    background-color: transparent;
    border: none;
    .navbar-brand {
        font-size: 42px;
        color: $fanapGrey;
        font-weight: 500;
        @include transition(all .3s);
        @include mq($max-width: $breakePoint_xl) {
            color: #fff;
        }
    }
    .navbar-brand:hover, .navbar-brand:focus {
        color: $fanapOrange;
        @include mq($max-width: $breakePoint_xl) {
            color: $fanapDark;
        }
    }
}

@include mq($max-width: $breakePoint_md) {
    .navbar-nav > li, .navbar-nav {
        float: left !important;
    }
    .navbar-nav.navbar-right:last-child {
        margin-right: 0 !important;
    }
    .navbar-right {
        float: right !important;
    }
    .navbar-header {
        float: left;
    }
}

.navbar {
    z-index: 1000;
    padding: 30px 100px;
    margin: 0;
    @include mq($max-width: $breakePoint_xxl) {
        padding: 30px 50px;
    }
    @include mq($max-width: $breakePoint_sm) {
        padding: 20px 15px;
    }
    .navbar-nav {
        li.nav-item {
            a.nav-link {
                color: #ffffff;
                padding-left: 3rem;
                padding-right: 0;
                @include transition(all .3s);
                &:hover, &:active, &:focus {
                    text-decoration: none;
                    opacity: 0.6;
                }
            }
        }
    }
}

.bgWrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    min-height: 200px;
    margin: auto;
    background-color: $fanapOrange;
    z-index: 0;
    .bgDiv {
        height: 100vh;
    }
    .bgDivLeft {
        background: $fanapGreyLight url("images/pattern.png");
        @include mq($max-width: $breakePoint_xl) {
            background: $fanapOrange url("images/pattern.png");
        }
        -webkit-background-size: 40%;
        background-size: 40%;
    }
}

.indexWrapper {
    @include mq($max-width: $breakePoint_sm) {
        margin: 0;
        padding: 0 !important;
        width: 100%;
    }
    .indexWrapperInside {
        height: calc(100vh - 210px);
        min-height: 600px;
        position: relative;
        @include mq($max-width: $breakePoint_xl) {
            height: auto;
        }
    }
    .indexLeft {
        z-index: 200;
        .mainForm {
            @include absolut-center();
            background-color: #fff;
            padding: 50px;
            width: 100%;
            margin: auto -70px auto 100px;
            @include mq($max-width: $breakePoint_xxl) {
                margin: auto -40px auto 50px;
            }
            @include mq($max-width: $breakePoint_xl) {
                margin: 50px auto;
                width: calc(100% - 100px);
                position: static;
                transform: translate(0, 0);
            }
            @include mq($max-width: $breakePoint_sm) {
                margin: 0 auto;
                width: 100%;
                padding: 50px 30px;
            }
            z-index: 300;
            h1 {
                color: $fanapDark;
                font-size: 32px;
                font-weight: normal;
                @include mq($max-width: $breakePoint_md) {
                    font-size: 24px;
                    @include text-overflow();
                }
            }
            .tempAmount {
                text-align: center;
                h2 {
                    color: $fanapGrey;
                    font-size: 18px;
                    font-weight: 300;
                    text-align: left;
                    line-height: 1.5em !important;
                    @include mq($max-width: $breakePoint_md) {
                        font-size: 16px;
                    }
                    #tempAmountCash {
                        font-weight: 500 !important;
                        color: $fanapOrange;
                    }
                    #tempAmountCountry {
                        @extend #tempAmountCash;
                        color: $fanapDark;
                    }
                }
                .tempAmountWrapper {
                    padding: 10px 0 20px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
                .calcAmount {
                    font-size: 52px;
                    font-weight: 600;
                    color: $fanapOrange;
                    @include mq($max-width: $breakePoint_md) {
                        font-size: 36px;
                    }
                    @include mq($max-width: $breakePoint_sm) {
                        font-size: 28px;
                    }
                }
                .tempCurrency {
                    color: $fanapGrey;
                }
            }
        }
    }
    .indexRight {
        z-index: 50;
        @include mq($max-width: $breakePoint_md) {
            min-height: 400px;
        }
        @include mq($max-width: $breakePoint_sm) {
            min-height: 400px;
        }
        #mapWrapper {
            @include absolut-center();
            height: 593px;
            width: 90%;
            margin: auto;
            .amcharts-export-menu {
                display: none !important;
            }
            a[href = "http://www.amcharts.com/javascript-maps/" ] {
                display: none !important;
            }
        }
        .mottoWrapper {
            @include absolut-center();
            text-align: center;
            color: #fff;
            .fanexLogoName {
                font-weight: 100;
                font-size: 120px;
                @include mq($max-width: $breakePoint_xxl) {
                    font-size: 90px;
                }
            }
            .fanexMotto {
                margin-top: -40px;
                @include mq($max-width: $breakePoint_xxl) {
                    margin-top: -20px;
                }
            }
        }
        .addressWrapper {
            @extend .mottoWrapper;
            @include absolut-center(75%, 50%);
            h4 {
                font-weight: 300;
                font-size: 18px;
                line-height: 1.6em;
            }
            p {
                font-size: 18px;
                font-weight: 200;
                i {
                    vertical-align: middle;
                    padding: 0 10px 0 0;
                }
            }
        }
        .staticHeader {
            @include absolut-center();
            text-align: center;
            width: 70%;
            color: #fff;
            .fanexLogoName {
                font-weight: 100;
                font-size: 72px;
                @include mq($max-width: $breakePoint_xxl) {
                    font-size: 60px;
                }
            }
            .fanexMotto {
                padding: 10px 30px;
                margin-top: 0px;
                overflow-y: scroll;
                max-height: 400px;
                @include mq($max-width: $breakePoint_md) {
                    max-height: 300px;
                }
            }
        }
    }
}

.bootstrap-select .dropdown-toggle:focus {
    outline: none !important;
    box-shadow: none !important;
}

.bsWrapper {
    position: relative;
}

.bsIcon {
    font-size: 24px;
    color: $fanapGreyDark;
    position: absolute;
    z-index: 100;
    margin: 14px 0 0 15px;
}

.fanexInput {
    color: $fanapGrey;
    background-color: $fanapGreyUltraLight;
    height: 60px;
    padding: 0px 50px;
    border: none;
    border-radius: 0 !important;
    @include box-shadow(none !important);
    @include transition(all .3s);
    &:hover {
        color: $fanapDark;
        background-color: $fanapGreyLight;
    }
    &:active, &:focus {
        color: $fanapDark;
        background-color: $fanapGreyLight;
        @include box-shadow(inset 0 0 10px rgba(0, 0, 0, 0.05) !important);
    }
    img {
        margin-top: 5px;
    }
}

textarea.fanexInput {
    width: 100%;
    resize: none;
    min-height: 150px;
    padding: 15px 20px;
}

.dropdown-menu {
    margin: 0;
    border-top: 0;
    padding: 0;
    border: solid 1px darken($fanapGreyLight, 5%);
    max-height: 240px !important;
    @include border-radius(0);
    @include box-shadow(none !important);
    .inner {
        border: solid 1px darken($fanapGreyLight, 5%);
        overflow: hidden !important;
    }
    .divider {
        margin: 0;
    }
    li.dropdown-header {
        padding: 10px 20px !important;
        span.text {
            font-size: 18px;
            color: $fanapGreyDark;
            font-weight: 400;
        }
    }

    li a {
        color: $fanapDark;
        padding: 15px 30px;
        span.text {
            font-weight: 300;
            font-size: 18px;
            color: $fanapDark;
        }

        &[aria-disabled="true"] span.text {
            color: $fanapGreyDark !important;
        }

        &:hover, &:active, &:focus {
            background-color: $fanapGreyUltraLight;
        }
    }
}

.dropdown-toggle::after {
    margin-left: -.5rem !important;
}

.captchaRefresher i {
    @include transition(all .3s);
}

.captchaRefresher:hover i {
    color: $fanapOrange;
}

.fanexBtn {
    height: 60px;
    font-weight: 200;
    font-size: 24px;
    text-align: center;
    width: 100%;
    outline: none;
    cursor: pointer;
    @include box-shadow(none !important);
    @include border-radius(0);
    @include transition(all .3s);
}

.fanexBtn.hasIcon {
    line-height: 52px !important;
}

.fanexBtnOutline {
    @extend .fanexBtn;
    background-color: transparent;
    color: $fanapGrey;
    border: solid 1px $fanapGreyLight;
    &:hover, &:focus, &:active {
        border-color: $fanapOrange;
        background-color: $fanapOrange;
        color: #fff;
    }
}

.fanexBtnGrey {
    @extend .fanexBtn;
    background-color: $fanapGreyLight;
    &:hover, &:focus, &:active {
        background-color: darken($fanapGreyLight, 10%);
        color: #fff;
    }
}

.fanexBtnOutlineGrey {
    @extend .fanexBtnOutline;
    border-color: $fanapGreyDark;
}

.fanexBtnOrange {
    @extend .fanexBtn;
    background-color: $fanapOrange;
    color: #fff !important;
    &:hover, &:focus, &:active {
        background-color: darken($fanapOrange, 10%);
        color: #fff;
    }
}

.fanexBtnOutlineOrange {
    @extend .fanexBtnOutline;
    border-color: $fanapOrange;
    color: $fanapOrange;
}

.fanexFooter {
    ul {
        padding: 0;
        margin-bottom: 0;
        li {
            list-style: none;
            float: left;
            a {
                text-decoration: none;
            }
            @include mq($max-width: $breakePoint_md) {
                float: none;
                margin-bottom: 8px;
            }
        }
        li.hasIcon {
            margin-top: -5px;
        }
    }
    .footerLeft {
        float: left;
        li {
            a {
                padding-left: 0;
                padding-right: 25px;
                color: $fanapDark;
                @include transition(all .3s);
                &:hover {
                    color: $fanapOrange;
                }
            }
            @include mq($max-width: $breakePoint_xl) {
                a {
                    color: #fff;
                    &:hover {
                        opacity: 0.6;
                    }
                }
            }
        }
    }
    .footerRight {
        float: right;
        li {
            float: right;
            a {
                color: #ffffff;
                font-size: 28px;
                padding-top: 0;
                padding-bottom: 0;
                padding-right: 0;
                padding-left: 25px;
                @include transition(all .3s);
                &:hover {
                    opacity: 0.6;
                }
            }
        }

        @include mq($max-width: $breakePoint_md) {
            li.copyright {
                display: none;
            }
            li.hasIcon {
                margin-top: 0;
                float: none;
                text-align: right;
                margin: 0;
                a {
                    font-size: 18px;
                    padding-right: 0;
                }
            }
        }
    }
}

#mainFormLoader {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: auto;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    top: 0;
    left: 0;
    z-index: 3000;
    .spinner2 {
        @include absolut-center();
    }
    .errors {
        @include absolut-center();
        font-size: 32px;
        font-weight: 600;
        color: $fanapRed;
        text-align: center;
    }
}

// Spinner 1
.spinner {
    width: 40px;
    height: 40px;
    position: relative;
    margin: auto;
}

.double-bounce1, .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: $fanapOrange;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
    0%, 100% {
        -webkit-transform: scale(0.0)
    }
    50% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes sk-bounce {
    0%, 100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    }
    50% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}

// Spinner 2
.spinner2 {
    margin: auto;
    width: 70px;
    text-align: center;
}

.spinner2 > div {
    width: 18px;
    height: 18px;
    background-color: $fanapOrange;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner2 .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.spinner2 .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0)
    }
    40% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}