@charset "UTF-8";

// Color Variables
$fanapOrange: #F58121;//lighten(#a30b3b, 12%);//
$fanapDark: #333333;
$fanapGrey: #949597;
$fanapGreyLight: #F4F4F4;
$fanapGreyUltraLight: #F8F8F8;
$fanapGreyDark: #BBBBBB;
$fanapRed: #F44336;
$fanapGreen: #4CAF50;

// Breakpoint Variables
$breakePoint_xs: "460px";
$breakePoint_sm: "520px";
$breakePoint_md: "768px";
$breakePoint_lg: "992px";
$breakePoint_xl: "1200px";
$breakePoint_xxl: "1400px";

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

@mixin transition($option) {
    -webkit-transition: $option;
    -moz-transition: $option;
    -ms-transition: $option;
    -o-transition: $option;
    transition: $option;
}

@mixin box-shadow($option) {
    -webkit-box-shadow: $option;
    -moz-box-shadow: $option;
    box-shadow: $option;
}

@mixin absolut-center($top:50%, $left:50%) {
    position: absolute;
    top: $top;
    left: $left;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

@mixin text-overflow(){
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@mixin no-border() {
    border: none !important;
    border-top: none !important;
    border-bottom: none !important;
    border-left: none !important;
    border-right: none !important;
}

.no-border {
    border: none !important;
    border-top: none !important;
    border-bottom: none !important;
    border-left: none !important;
    border-right: none !important;
}